<div class="container text-center my-5">



  <!-- Grid row -->
  <div class="row" align="center">

    <div class="col-md-12 col-lg-6 wow fadeInLeft" style="margin: 0 auto">

      <!-- Section heading -->
      <h2  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
        <i class="{{section[0]['icon']}}" aria-hidden="true"></i> {{section[0]['title']}}
      </h2>

      <hr class="blackfade">



      <div class="education-stepper horizontal-padding-3" align="left">
        <ul class="stepper stepper-vertical">

          <!-- Steper -->
          <li class="completed" *ngFor="let i of education">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao"><i class="{{i['icon']}}" aria-hidden="true"></i> {{i['years']}}</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">{{i['title']}}</div>
              <span class="label font-weight-light font-small text-black-50">{{i['center']}}</span>
            </div>
          </li>
          <!-- Steper -->

        </ul>

      </div>

      <!-- Grid column -->

    </div>

    <div class="col-md-12 col-lg-6 wow fadeInRight" style="margin: 0 auto">

      <!-- Section heading -->
      <h2  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
        <i class="{{section[1]['icon']}}" aria-hidden="true"></i> {{section[1]['title']}}
      </h2>

      <hr class="blackfade">

      <div id="skill-list" class="horizontal-padding-3" align="left">

      <div *ngFor="let i of skills">
        <div class="label font-weight-bold" style="padding: 8px 0">{{i['title']}}</div>

        <div class="progress">
          <div class="progress-bar wow slideInLeft blue darken-ao ao-border-bottom" data-wow-duration="1500ms" data-wow-delay="100ms" [ngStyle]="i['style']" style="height: 100%" aria-valuenow="25"
               aria-valuemin="0" aria-valuemax="100">
            {{i['percent']}}%
          </div>
        </div>
      </div>

      </div>

      <!-- Grid column -->

    </div>

  </div>
  <!-- Grid row -->
</div>
