<section id="cover">
  <div id="cover-jarallax" class="view jarallax cover-jarallax" data-jarallax='{"speed": 0.2}'>
    <div class="mask rgba-black-strong">

      <div id="particles-js"></div>

      <div class="container flex-center text-center">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="home-content home-content-fullwidth">
              <div class="wow fadeInDown"><h3 id="hi" translate>Hi, I'm</h3>
                <h1 class="header-title-text type-animate">
                  <a href="" class="typewrite">
                    <app-typewritter [data]="typewritterArray"></app-typewritter>
                  </a>
                </h1>
              </div>
              <div class="t1-wrapper wow fadeInUp">
                <ul class="t1-icons icon-circle icon-rotate ico-list list-inline">


                  <li *ngFor="let i of sociallinks">
                    <a [href]="i['link'] | sanitizeT: 'url'" target="_blank"><i [class]="i['icon']"></i></a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="donation-wrapper wow fadeInUp">
        <ul class="t1-icons icon-circle icon-rotate ico-list list-inline">
            <li>
              <a (click)="showBitcoinModal()"><i class="fab fa-btc"></i></a>
            </li>
            <li>
                <a (click)="showEthereumModal()"><i class="fab fa-ethereum"></i></a>
            </li>
            <li>
              <a href="https://paypal.me/AlbertoOtero" target="_blank"><i class="fab fa-paypal"></i></a>
            </li>
        </ul>
        </div>
    </div>
  </div>
</section>
