<section id="cover">
  <div class="view cover-jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://i.imgur.com/XP10AR9.jpg');">
    <div class="mask rgba-black-strong">

      <div id="particles-js"></div>

      <div class="container flex-center text-center">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="home-content home-content-fullwidth">
              <div class="wow fadeInDown"><h3 style="text-transform: none;" translate>Hi, I'm</h3>
                <h1 class="header-title-text type-animate">
                  <a href="" class="typewrite">
                    <app-typewritter [data]="typewritterArray"></app-typewritter>
                  </a>
                </h1>
              </div>
              <div class="social-wrapper wow fadeInUp">
                <ul class="social-icons icon-circle icon-rotate contact-info list-inline">


                  <li *ngFor="let i of sociallinks">
                    <a [href]="i['link'] | safeHtml" target="_blank"><i [class]="i['icon']"></i></a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
