<div class="container my-5">
<!-- Section heading -->
<h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
  <i class="fas fa-user-graduate"></i> <span translate> Other skills</span>
</h3>

  <hr class="blackfade">
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4" style="padding-top: 3rem">

      <!--Card-->
      <div class="card card-cascade narrower panel-cascade">

        <!--Card image-->
        <div class="view view-cascade py-3 aocolor">
          <h5 class="mb-0">Services and protocols</h5>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <div class="list-group mb-3">
            <a href="https://mdbootstrap.com/components/buttons/" class="list-group-item d-flex justify-content-between">
              <span>FTP, SFTP - Proftpd, Filezilla</span>
            </a>
            <a href="https://mdbootstrap.com/content/tables/" class="list-group-item d-flex justify-content-between">
              <span>Mailing - iRedmail, Postfix, Dovecot</span>
            </a>
            <a href="https://mdbootstrap.com/components/forms/" class="list-group-item d-flex justify-content-between">
              <span>SSH, Telnet</span>
            </a>
            <a href="https://mdbootstrap.com/components/dropdowns/" class="list-group-item d-flex justify-content-between">
              <span>RADIUS - FreeRADIUS, Daloradius</span>
            </a>
            <a href="https://mdbootstrap.com/content/icons-list/" class="list-group-item d-flex justify-content-between">
              <span>DNS, Bind9</span>
            </a>
            <a href="https://mdbootstrap.com/components/panels/" class="list-group-item d-flex justify-content-between">
              <span>Owncloud, Diaspora, Subsonic</span>
            </a>
            <a href="https://mdbootstrap.com/components/panels/" class="list-group-item d-flex justify-content-between">
              <span>Roundcube, DocuWiki, Wordpress</span>
            </a>
            <a href="https://mdbootstrap.com/components/panels/" class="list-group-item d-flex justify-content-between">
              <span>Drupal, Joomla</span>
            </a>
            <a href="https://mdbootstrap.com/components/panels/" class="list-group-item d-flex justify-content-between">
              <span>Apache & Apache Tomcat</span>
            </a>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4" style="padding-top: 3rem">

      <!--Card-->
      <div class="card card-cascade narrower panel-cascade">

        <!--Card image-->
        <div class="view view-cascade py-3 aocolor">
          <h5 class="mb-0">Telecommunications</h5>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <div class="list-group mb-3">
            <a id="home-plugins-modals" href="https://mdbootstrap.com/javascript/modals/" class="list-group-item d-flex justify-content-between">
              <span>Telematics</span>
            </a>
            <a id="home-plugins-tooltips" href="https://mdbootstrap.com/javascript/tooltips/" class="list-group-item d-flex justify-content-between">
              <span>Wireless networking</span>
            </a>
            <a id="home-plugins-carousel" href="https://mdbootstrap.com/javascript/carousel/" class="list-group-item d-flex justify-content-between">
              <span>Cisco, Linksys, Ubiquiti, Buffalo…</span>
            </a>
            <a id="home-plugins-sidenav" href="https://mdbootstrap.com/javascript/sidenav/" class="list-group-item d-flex justify-content-between">
              <span>OpenWRT & Router/AP firmwares</span>
            </a>
            <a id="home-plugins-tabs" href="https://mdbootstrap.com/components/tabs/" class="list-group-item d-flex justify-content-between">
              <span>CoovaChilli, Chillispot</span>
            </a>
            <a id="home-plugins-charts" href="https://mdbootstrap.com/javascript/charts/" class="list-group-item d-flex justify-content-between">
              <span>WiMAX</span>
            </a>
            <a id="home-plugins-chart2s" href="https://mdbootstrap.com/javascript/charts/" class="list-group-item d-flex justify-content-between">
              <span>Firewalling & IPtables</span>
            </a>
            <a id="home-plugins-char3ts" href="https://mdbootstrap.com/javascript/charts/" class="list-group-item d-flex justify-content-between">
              <span>Cisco</span>
            </a>
            <a id="home-plugins-ch4arts" href="https://mdbootstrap.com/javascript/charts/" class="list-group-item d-flex justify-content-between">
              <span>Satellite TV</span>
            </a>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4" style="padding-top: 3rem">

      <!--Card-->
      <div class="card card-cascade narrower panel-cascade">

        <!--Card image-->
        <div class="view view-cascade py-3 aocolor">
          <h5 class="mb-0">Others</h5>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <div class="list-group mb-3">
            <a id="home-misc-wpTutorial" href="https://mdbootstrap.com/wordpress-tutorial/" class="list-group-item d-flex justify-content-between">
              <span>Sysadmin (Windows, MacOS, Linux)</span>
            </a>
            <a id="home-misc-admin" href="https://mdbootstrap.com/admin-dashboard-tutorial-bootstrap-4-material-design/" class="list-group-item d-flex justify-content-between">
              <span>Linux (Archlinux, Debian, SUSE)</span>
            </a>
            <a id="home-misc-automation" href="https://mdbootstrap.com/marketing-automation-tutorial/" class="list-group-item d-flex justify-content-between">
              <span>Git & Subversion</span>
            </a>
            <a id="home-misc-freebies" href="https://mdbootstrap.com/freebies/" class="list-group-item d-flex justify-content-between">
              <span>Community manager</span>
            </a>
            <a id="home-misc-logo" href="https://mdbootstrap.com/material-design-logo-generator/" class="list-group-item d-flex justify-content-between">
              <span>Adsense & Analytics</span>
            </a>
            <a id="home-misc-templates" href="https://mdbootstrap.com/templates/" class="list-group-item d-flex justify-content-between">
              <span>Posicionamiento SEO</span>
            </a>
            <a id="home-misc-templates2" href="https://mdbootstrap.com/templates/" class="list-group-item d-flex justify-content-between">
              <span>Cryptocurrencies</span>
            </a>
            <a id="home-misc-template3s" href="https://mdbootstrap.com/templates/" class="list-group-item d-flex justify-content-between">
              <span>Video&Audio Editing</span>
            </a>
            <a id="home-misc-templat4es" href="https://mdbootstrap.com/templates/" class="list-group-item d-flex justify-content-between">
              <span>DJing</span>
            </a>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>
