<div class="container my-5">

  <div class="showforprint" style="height:100px;display: none"></div>
<!-- Section heading -->
<h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
  <i class="fas fa-user-graduate"></i> <span translate> Other skills</span>
</h3>

  <hr class="blackfade">
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 wow fadeInLeft" style="padding-top: 3rem">

      <!--Card-->
      <div class="card card-cascade narrower panel-cascade">

        <!--Card image-->
        <div class="view view-cascade py-3 aocolor">
          <h5 class="mb-0" translate>Services and protocols</h5>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <div class="list-group mb-3">
            <span *ngFor="let name of this.services_and_protocols" class="list-group-item d-flex justify-content-between">
              <span>{{name}}</span>
            </span>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 wow fadeInUp" style="padding-top: 3rem">

      <!--Card-->
      <div class="card card-cascade narrower panel-cascade">

        <!--Card image-->
        <div class="view view-cascade py-3 aocolor">
          <h5 class="mb-0" translate>Telecommunications</h5>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <div class="list-group mb-3">
            <span *ngFor="let name of this.telecommunications" class="list-group-item d-flex justify-content-between">
              <span>{{name}}</span>
            </span>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4 wow fadeInRight" style="padding-top: 3rem">

      <!--Card-->
      <div class="card card-cascade narrower panel-cascade">

        <!--Card image-->
        <div class="view view-cascade py-3 aocolor">
          <h5 class="mb-0" translate>Others</h5>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body card-body-cascade text-center">
          <div class="list-group mb-3">
            <span *ngFor="let name of this.others" class="list-group-item d-flex justify-content-between">
              <span>{{name}}</span>
            </span>
          </div>
        </div>
        <!--/.Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>
