#footer{
  background: rgba(12, 37, 75, 0.96);
  color: lightgrey;
}

#license{
  background: #1f3961;
  height: 100%;
  color: lightgrey;
  padding: 1.2rem 0;
}

#form-contact-message-label {
  top: 114px;
  position: absolute;
}

.md-form label.active{
    top:0 !important;
}


