<section id="aoterocom" class="text-center container my-5" style="padding-top: 2rem">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <div class="card card-cascade wider reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/comuniba.snapshot.png"  alt="Website Mockup" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5 wow fadeIn">
        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4">
          <i class="fas fa-code"></i> <span translate> This is a <img src="/assets/img/django.logo.png" style="height: 50px;"> <span translate> project</span>
          </span>
        </h3>

        <hr class="blackfade mb-4">

        <!--Excerpt-->
        <div class="grey-text" align="left" style="color: #757575 !important; padding: 1rem 0; align-content: left">
          <ul class="w-responsive mx-auto"><li>DJango 2.0.1</li>
            <li translate [innerHtml]="this.translate.instant('withapi') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('internalstats') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('frontend') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('prealpha') | sanitizeT: 'html'"></li>
          </ul>
        </div>
      </section>
      <section class="my-5 wow fadeIn">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4">
          <i class="fas fa-question"></i> <span translate> What is exactly ComuNiBA?
          <span class="name-pending" translate="">(final name pending)</span></span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <div align="left">
          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate [innerHtml]="this.translate.instant('comunibadesc') | sanitizeT: 'html'">
          </p>

        </div>

      </section>

      <section class="my-5 wow fadeIn">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4">
          <i class="fab fa-github"></i> <span translate> Sources are private</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5" translate [innerHtml]="this.translate.instant('private') | sanitizeT: 'html'">
        </p>

      </section>


    </div>
  </div>
</section>
