<div class="container my-5">

  <!-- Section heading -->
  <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
    <i class="{{section['icon']}}"></i> {{section['title']}}
  </h3>

  <hr class="blackfade">
  <!-- Grid row -->
  <div class="row" align="center" style="padding-top: 3rem">

    <!-- Grid column -->
    <div class="col-5 wow fadeInLeft" style="min-width: 380px;margin:0 auto" align="center">

      <img style="margin-bottom: 2rem;margin-top: 1rem;" class="rounded-hard <!--avatar--> width-80" src="{{personal_data['profile_img']}}"/>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-7 wow fadeInRight" style="margin: auto" align="left">

      <div class="row" style="margin: auto;padding-bottom: 2rem;padding-left: 1rem;padding-right: 1rem;" align="left">

        <div class="col-md-12 col-lg-6 font-small" *ngFor="let i of personal_data['data_entries']"   style="display: list-item;">
          <h6 style="display: inline;">{{i['placeholder']}}:</h6>
          {{i['content']}}
        </div>

      </div>


      <p class="grey-text mx-auto mb-3 font-small" *ngFor="let i of speech">
        {{i['paragraph_content']}}
      </p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Buttons -->
  <div class="resume-contact-buttons wow fadeInUp" style="margin: auto; padding-top: 1rem" align="center">
    <button type="button" class="btn sticky-bottom {{i['color']}}" *ngFor="let i of buttons">
      <i class="{{i['icon']}}"></i> {{i['text']}}
    </button>
  </div>
</div>
