<div class="container my-5">

  <!-- Section heading -->
  <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
    <i class="fa fa-quote-left"></i> About me
  </h3>

  <hr class="blue darken-4 width60bluefade">
  <!-- Grid row -->
  <div class="row">


    <!-- Grid column -->
    <div class="col-md-4 about-me padding-3-1 wow fadeInLeft" align="center">

      <img src="https://instagram.fmad3-5.fna.fbcdn.net/vp/17c280cbe46d58901b2d56e238826a9e/5BABE20A/t51.2885-15/e35/11848869_1645345199054333_719708417_n.jpg"
           class="rounded-hard avatar width-80">

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-8 padding-3-1 wow fadeInRight">


        <p class="grey-text mx-auto mb-5">

          <!----> "Odio a la gente que tabula con espacios. Pasión, rendimiento y minimalismo en el código y en la vida.
          A buen programador pocas líneas bastan."<br><br>Con años de experiencia funcional en distintos lenguajes de
          programación y frameworks, no solo en los impartidos en la facultad. Versatilidad y la facilidad para enfrentarme a cualquier proyecto, con o sin
          las aptitudes necesarias, y la idea recurrente de optimización y rendimiento en lo que hago. Si no se algo
          lo aprendo.

          <!---->


        </p>

      <div align="center">
        <!--Hire & download button-->
        <button type="button" class="btn blue darken-4 sticky-bottom"><i class="fas fa-download"></i> Download resume</button>
        <button type="button" class="btn grey darken-4 sticky-bottom"><i class="fas fa-envelope"></i> Email me</button>
      </div>

    <!-- Grid column -->

    </div>
  <!-- Grid row -->

  </div>
</div>
