<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <logo>
    <a class="navbar-brand" href="#">
      <img src="/assets/img/alberto-otero.logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item dropdown active" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect translate>
          Resume<span class="caret"></span><span class="sr-only">(current)</span></a>
        <hr class="whitefade">
        <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll
             [pageScrollDuration]="800" [pageScrollOffset]="90" href="#cover" translate>Home</a>
          <a class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="90" href="#about-me" translate>About me</a>
          <a class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="65" href="#resume" translate>Education and Skills</a>
          <a class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="90" href="#techs" translate>Technologies</a>
          <div class="divider dropdown-divider"> </div>
          <a class="dropdown-item waves-light" mdbWavesEffect  href="#footer" [pageScrollDuration]="800" mdbPageScroll translate>Get in touch</a>
        </div>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#footer" mdbPageScroll [pageScrollDuration]="800" [pageScrollOffset]="90" translate>Projects</a>
        <hr class="whitefade no-margin no-padding">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="switchLanguage('es')">Blog</a>
        <hr class="whitefade no-margin no-padding">
      </li>-->
    </ul>
  </links>
</mdb-navbar>


