.navbar {
  background-color: rgba(0,0,0,1);
}

.top-nav-collapse{
  background-color: blue;
}

.nav-item{
  font-size: 1.2em;
}

logo{
  font-family: 'Calligraffitti', cursive;
  vertical-align: middle;
}
logo>a{
  font-size: 18px;
}

.nav-link.active{
  color: #fff !important;
  background-color: transparent !important;
}
.nav-item>hr:not(.active){
  opacity: 0;
  visibility: hidden;
  margin-top: 0;
  margin-bottom: 6px !important;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
.nav-link.active+hr, hr.active{
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

span.active + #ddmain{
  color: white !important;
}


.nav-link{
  color: #D8D8D8 !important;
  padding-bottom: 1px !important;
  margin-top: 6px !important;
  padding-top: 0 !important;
  border-radius: 10px;
}

.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar .dropdown-menu a{
  color: #fff !important;
}

/*.rd:hover > #resume-menu-dropdown {
  display: block;
}*/


