<section id="cover">
  <app-home-cover></app-home-cover>
</section>

<section id="about-me">
  <app-home-about-me></app-home-about-me>
</section>

<section id="resume">
  <app-home-resume></app-home-resume>
</section>

<section id="middle-parallax">

  <div class="view jarallax cover-jarallax" data-jarallax='{"speed": 0.3}' style="
  background-image: url('https://i.imgur.com/zMuH0VT.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 400px;
  max-width: 100%"></div>

</section>

<section id="techs">
  <app-techs></app-techs>
</section>

<section id="experience">
  <app-experience></app-experience>
</section>

