<section id="cover" class="hideforprint">
  <app-home-cover></app-home-cover>
</section>

<section id="about-me">
  <app-home-about-me></app-home-about-me>
</section>

<section id="resume">
  <app-home-resume></app-home-resume>
</section>

<section id="middle-parallax" class="hideforprint">

  <div class="view jarallax cover-jarallax" data-jarallax='{"speed": 0.3}'></div>

</section>

<section id="techs">
  <app-techs></app-techs>
</section>

<section id="other-skills">
  <app-experience></app-experience>
</section>

