/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;


}

.particles-js-canvas-el{
  position: absolute;
}

.blue.darken-ao {
  background-color: #284c84 !important;
}


hr.blackfade {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.whitefade {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

hr.margin-bottom {
  margin-bottom: 3rem;
}

.horizontal-padding-3{
  padding: 3rem 0;
}

.padding-3-1{
  padding: 3rem 1rem;
}

.ao-border-bottom{
  /*border-bottom: 4px solid #0d47a1;*/
}

.stepper li .square {
  display: inline-block;
  color: #fff;
  background: rgba(0,0,0,.80);
  text-align: center;
  line-height: 1.5rem;
  padding: 2px 10px;
}


.stepper li a .dates{
  width: 12em;
  height: 2em;
}


.avatar{
  box-shadow: 0 0 10px grey;
  width: 100%;
  //border: 6px solid whitesmoke;
}
hr.middle-banner{
  margin-top: -2rem;
  margin-bottom: 2.5rem;
}

.rounded-hard {
  border-radius: 1%;
}

.width-80{
  width: 80%;
}

@media screen and (max-width: 768px) {
  .width-80 {
    width: 100%;
  }

}

.md-form label{
  color: whitesmoke;

}

input {
  color: whitesmoke !important;
}

textarea {
  color: whitesmoke !important;
}

textarea.md-textarea-scroll{
  overflow-y: visible;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ced4da !important;
  resize: none;

}

label {
  color: whitesmoke !important;
}

.counter-success {
  border-bottom: 1px solid #65a374 !important;
  box-shadow: 0 1px 0 0 #65a374 !important;
}

.counter-danger {
  border-bottom: 1px solid #a35d5a !important;
  box-shadow: 0 1px 0 0 #a35d5a !important;
}

.text-success {
  color: #65a374 !important;
}

.text-danger {
  color: #a35d5a !important;
}

.contact-info {
  padding-left: 0;
  list-style: none;
  :last-child{
    margin-bottom: 0;
  }
}
.contact-info>li {
  margin-bottom: 42px;
}
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}

.dropdown-menu{
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 1px 15px 0 rgba(0, 0, 0, 0.12) !important;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.top-nav-collapse {
  .dropdown-menu {
    margin-top:0;
    background-color: rgba(12, 37, 75, 0.9) !important;
  }
  .dropdown-item {
    :hover {
      background-color: rgba(12, 32, 65, 0.9) !important;
    }
  }
}

@media (max-width: 992px) {
  .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.7) !important;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.16), 0 1px 15px 0 rgba(0, 0, 0, 0.12) !important;
  }
}

.spinning-preloader-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43578c+1,293759+27,0c254b+100 */
  background: rgb(12, 37, 75); /* Old browsers */

 /* background: -moz-linear-gradient(45deg, #43578c 1%, #293759 27%, #0c254b 100%); !* FF3.6-15 *!
  background: -webkit-linear-gradient(45deg, #43578c 1%, #293759 27%, #0c254b 100%); !* Chrome10-25,Safari5.1-6 *!
  background: linear-gradient(45deg, #43578c 1%, #293759 27%, #0c254b 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43578c', endColorstr='#0c254b', GradientType=1); !* IE6-9 fallback on horizontal gradient *!
*/
}

.spinning-preloader-texture {
  background-color: transparent;
  background-image: url("/assets/img/60-lines.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



.spinner-white,
.spinner-white-only {
  border-color: whitesmoke;
}

.active .spinner-layer.spinner-white {
  /* durations: 4 * ARCTIME */
  -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.white-color {
  .mat-progress-bar-buffer {
    background-color: white;
  }
  .mat-progress-bar-fill::after {
    background-color: #c5c5c5;
  }
}

.progress .indeterminate {
  background-color: #1f3961;
  &:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    // Custom bezier
    animation: indeterminate 2.1s cubic-bezier(0.650, 0.815, 0.735, 0.395) infinite;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    // Custom bezier
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
    animation-delay: 1.15s;
  }
}
